.card-image {
    width:100%;
    object-fit: cover;
    z-index: 1;
}


.hover-bg {
    position: absolute;
    width: 85%;
    height: 100%;
    border-radius: 2rem;
    background-color: lightgrey;
    z-index: 0;
}

.card {
    position: relative;
    height: 400px;
    margin: 16px;
    display: flex;
    justify-content: center;
    cursor: pointer;

}

.letter {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%);
    transform: translate(-50%, -50%);
    font-size: 120px;
    font-weight: bold;
    color: white;
    z-index: 100;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

/* 2xl */
@media (max-width: 1536px) {
    .card {
        height: 350px;
    }
}

/* xl */
@media (max-width: 1280px) {
    .card {
        height: 250px;
    }
}

/* lg */
@media (max-width: 1024px) {
    .card {
        height: 160px;
    }
}

/* md */
@media (max-width: 768px) {
    .card {
        height: 120px;
    }
}

/* sm */
@media (max-width: 640px) {
    .card {
        height: 210px;
    }
}

/* xs */
@media (max-width: 475px) {
    .card {
        height: 200px;
    }
}