<mat-card class="summary selectable">
    <mat-card-content>
        <h1>Końcowy stan konta: {{(balance | async)}}zł</h1>
        <h1>Wynik wyższy niż {{advantage | async}}% innych użytkowników</h1>
        <ng-container *ngIf="range | async as tableData">
            <table *ngIf="tableData.data.length > 0" mat-table [dataSource]="tableData">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Użytkownik:</th>
                    <td mat-cell *matCellDef="let element"><span
                            [ngClass]="element.currentUser ? 'bolded' : ''">{{element.name}}</span></td>
                </ng-container>
                <ng-container matColumnDef="accountBalance">
                    <th mat-header-cell *matHeaderCellDef>Finalny stan konta:</th>
                    <td mat-cell *matCellDef="let element"> <span
                            [ngClass]="element.currentUser ? 'bolded' : ''">{{element.accountBalance}}</span></td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </ng-container>
        <h2 class="padded-top">Serdecznie dziękuję za udział w badaniu!</h2>
        <h2>Pana/i wkład bardzo pomoże mi w realizacji mojej pracy magisterskiej. W razie pojawienia się pytań lub przemyśleń zapraszam do kontaktu za pomocą wiadomości mailowej na adres: <b>kbielicka0111&#64;gmail.com</b></h2>
    </mat-card-content>
</mat-card>