  .confirm-button {
    align-self: flex-start;
  }

  .login-form-card {
    padding: 24px;
  }
  
  /* 2xl */
  @media (max-width: 1536px) {
    
  }
  
  /* xl */
  @media (max-width: 1280px) {
    
  }
  
  /* lg */
  @media (max-width: 1024px) {
    
  }
  
  /* md */
  @media (max-width: 768px) {
    
  }
  
  /* sm */
  @media (max-width: 640px) {
    .confirm-button {
        align-self: auto;
    }
  }
  
  /* xs */
  @media (max-width: 475px) {
  }