  .confirm-button {
    align-self: flex-start;
    margin: 16px 0;
  }

  .login-form {
    margin: 128px 256px;
    display: flex;
    justify-content: center;
    position: relative;
  }

  form {
    flex-grow: 1;
  }

  .login-form-card {
    padding: 24px 32px;
    flex-grow: 1;
  }
  
  /* 2xl */
  @media (max-width: 1536px) {
    
  }
  
  /* xl */
  @media (max-width: 1280px) {
    
  }
  
  /* lg */
  @media (max-width: 1024px) {
    .login-form {
      margin: 64px 64px;
    }
  }
  
  /* md */
  @media (max-width: 768px) {
    
  }
  
  /* sm */
  @media (max-width: 640px) {
    .confirm-button {
        align-self: auto;
    }
    .login-form {
      margin: 64px 0;
    }
  }
  
  /* xs */
  @media (max-width: 475px) {
    .login-form {
      margin: 0 0;
    }
  }