<section>
    <ng-container *ngIf="getGame$ | async as game">
        <div class="account">
            <mat-card>
                <ng-container *ngIf="getAccount$ | async as account">
                    <mat-card-content>
                        <div class="account-header">
                            <div class="header-nav">
                                <button mat-raised-button color="secondary" (click)="logout()">Powrót do
                                    logowania</button>
                                <button mat-raised-button color="secondary" (click)="openDialog()">Pokaż Zasady</button>
                            </div>
                            <h1>Aktualnie posiadasz: <span [style]="account.balance! > 0 ? 'color: green;' : 'color:red;'">{{account.balance}}zł</span></h1>
                            <ng-container *ngIf="getChange() | async as change; else placeholder">
                                <div class="results">
                                    <h2><span style="color: green">Zyskano: {{change.first}}</span></h2>
                                    <h2><span style="color: red;">Stracono: {{change.second}}</span></h2>
                                </div>
                            </ng-container>
                            <ng-template>
                                <h2></h2>
                            </ng-template>
                            <ng-template #placeholder>
                                <h2><span style="color: green"></span></h2>
                                    <h2><span style="color: red;"></span></h2>
                            </ng-template>
                        </div>
                        <div class="account-bar-values">
                            <p><b>0zł</b></p>
                            <p><b>5000zł</b></p>
                        </div>
                        <mat-progress-bar mode="determinate" [value]="account.balance! | normalizeNumber:5000"
                            color="primary">
                        </mat-progress-bar>
                    </mat-card-content>
                </ng-container>
            </mat-card>
        </div>
        <div class="cards">
            <mat-card>
                <mat-card-content>
                    <div class="responsive-grid">
                        <ng-container *ngFor="let card of game.cards, index as i">
                            <app-card imageSource="assets/basic-card.svg" [cardData]="card"
                                (addRound)="addRound($event)">
                            </app-card>
                        </ng-container>
                    </div>
                </mat-card-content>
            </mat-card>
            <ng-container [ngTemplateOutlet]="overlay" *ngIf="getOverlay() | async">

            </ng-container>
            <ng-template #overlay>
                <div class="overlay-greyout">

                </div>
            </ng-template>
        </div>
    </ng-container>
    <div class="subcontent">
        <mat-expansion-panel class="subcontent-table" [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>Historia Rund:</mat-panel-title>
            </mat-expansion-panel-header>
            <ng-container *ngIf="roundTableDataSource$ | async as tableData">
                <table *ngIf="tableData.data.length > 0" mat-table [dataSource]="tableData">

                    <ng-container matColumnDef="roundNumber">
                        <th mat-header-cell *matHeaderCellDef>Numer Rundy:</th>
                        <td mat-cell *matCellDef="let element"> {{element.roundNumber}} </td>
                    </ng-container>

                    <ng-container matColumnDef="previousBalance">
                        <th mat-header-cell *matHeaderCellDef>Poprzedni stan konta:</th>
                        <td mat-cell *matCellDef="let element"> {{element.previousBalance}} </td>
                    </ng-container>

                    <ng-container matColumnDef="total">
                        <th mat-header-cell *matHeaderCellDef>Nowy stan konta:</th>
                        <td mat-cell *matCellDef="let element"> {{element.total}} </td>
                    </ng-container>

                    <ng-container matColumnDef="change">
                        <th mat-header-cell *matHeaderCellDef>Wartość zmiany:</th>
                        <td mat-cell *matCellDef="let element"> {{element.total - element.previousBalance}} </td>
                    </ng-container>

                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef>Rodzaj wybranej karty:</th>
                        <td mat-cell *matCellDef="let element"> {{element.type | cardType}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </ng-container>
            <mat-paginator [length]="100" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" i>
            </mat-paginator>
        </mat-expansion-panel>
    </div>
</section>