<section>
    <div class="account">
        <mat-card>
            <mat-card-content>
                <div class="account-header">
                    <h2>Liczba wybranych kart: 0 / 100</h2>
                    <h2>Aktualnie posiadasz: 2000$</h2>
                </div>
                <div class="account-bar-values">
                    <p><b>0$</b></p>
                    <p><b>4000$</b></p>
                </div>
                <mat-progress-bar mode="determinate" value="50" color="primary">
                </mat-progress-bar>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="cards">
        <mat-card>
            <mat-card-content>
                <div class="responsive-grid">
                    <ng-container *ngFor="let cardImageSource of cardImageSources">
                        <app-card [source]="cardImageSource">
                        </app-card>
                    </ng-container>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="subcontent">
        <mat-card class="subcontent-element">
            <mat-card-content class="padded">
                <h1><u>Opis Gry:</u></h1>
                <p>Głównym celem gry jest podwojenie początkowego stanu finansowego konta.</p>
                <p>W tym celu, w każdej rundzie należy wybrać jedną z powyższych kart.</p>
                <p>Stan gry zostaje na bieżąco zapisywany, można powrócić do badania podając identyczny kod.</p>
                <p>Powodzenia :)</p>
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-footer class="padded">
                <button mat-raised-button color="secondary">Zrestartuj Grę</button>
            </mat-card-footer>
        </mat-card>
        <mat-card class="subcontent-element">
            <mat-card-content>
                
            </mat-card-content>
        </mat-card>
    </div>
</section>