<div class="dialog-container">
    <h1 mat-dialog-title>Zasady</h1>
    <div mat-dialog-content>
        <h4>
            <p>Na ekranie znajdują się 4 talie kart oznaczone literami A, B, C i D. Odkrycie każdej karty wiąże się z
                zyskiem, a czasem także ze stratą pieniędzy. Zostało to uwidocznione na górze ekranu pod kwotą, którą
                Pan/i posiada. Nie ma Pan/i możliwości wydedukowania, kiedy dojdzie do utraty, ale w pewnym momencie
                zorientuje się Pan/i, że niektóre talie są gorsze od innych i należy ich unikać. Pomocna może być w tym
                tabela znajdująca się pod kartami.</p>
            <p>Pana/i zadaniem jest wybieranie kart z talii, dopóki nie otrzyma Pan/i informacji o zakończeniu zadania.
                Może Pan/i w dowolnych momentach zmieniać talie, z których pobiera Pan/i karty.
                Celem zadania jest wygranie jak największej i utrata jak najmniejszej ilości pieniędzy.</p>
            <p>Powodzenia!</p>
        </h4>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary" (click)="closeDialog()" style="min-width: 120px;">Ok, przejdź do
            gry</button>
    </div>
</div>