<div class="dialog-container">
    <h1 mat-dialog-title>Zasady</h1>
    <div mat-dialog-content>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dictum egestas porttitor. Proin iaculis sit amet nisl a lacinia. Proin dignissim ligula in sem egestas pharetra. Nulla dictum, ante sagittis luctus interdum, urna nibh tempus mi, a tempus ex enim eu purus. Phasellus placerat leo sed risus rhoncus elementum. Morbi faucibus nulla quis libero venenatis porta. Ut ac ultrices velit, at faucibus mi. Donec tristique consectetur arcu ut mollis. In lacinia dictum nulla, quis porttitor risus accumsan sed. Nullam efficitur et felis ac dictum. Nulla elementum ex urna, eget ornare neque pharetra eu.</p>

        <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce luctus vehicula cursus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed nulla nibh, pulvinar non scelerisque ac, elementum vel felis. Suspendisse potenti. Quisque sodales commodo risus, eu mollis nibh varius vel. Donec a lobortis libero. Cras a enim non ipsum elementum varius. Phasellus tempus fermentum convallis. In sit amet facilisis ex.</p>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary" (click)="closeDialog()" style="min-width: 120px;">Ok</button>
    </div>
</div>