.container-medium {
    margin: 0 10% 0 10%;
    padding: 16px 16px;
}

.container-large {
    margin: 0 15% 0 15%;
    padding: 16px 16px;
}

.container-mobile {
    margin: 0 8px 0 8px;
    padding: 16px 0;
}